Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # Molecule tests for all non-heavy scenarios (via wunder-devtools-ee)
      - id: molecule-light
        name: molecule test (non-heavy scenarios via devtools)
        language: system
        entry: bash scripts/devtools-molecule.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >-
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

      # -------------------------------------------------------------------
      # ansible-collection smoke test (build + example playbook)
      # -------------------------------------------------------------------
      - id: collection-smoke
        name: collection smoke test (example.yml via devtools)
        language: system
        entry: bash scripts/devtools-collection-smoke.sh
        pass_filenames: false
        files: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)

chore: sync shared assets from lightning-it/shared-assets
  renovate.base.json
  scripts/wunder-devtools-ee.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets (#87)
  renovate.base.json
  scripts/wunder-devtools-ee.sh
Due: none

fix: fix regex
  roles/terragrunt/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: enhance VLAN membership tasks with JSON output and static route merging
  roles/bridge_vlan_membership/tasks/main.yml
  roles/net_vlan_autogen/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets (#88)
  .github/workflows/collection-ci.yml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: enhance VLAN membership tasks with JSON output and static route merging (#89)
  roles/bridge_vlan_membership/tasks/main.yml
  roles/net_vlan_autogen/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  974b6e4a0b1f956e4f0d20868aa7478c1f0d1b42
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .ansible-lint
  .github/workflows/collection-ci.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-galaxy.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: add persistence for bridge VLAN membership with systemd unit and script
  roles/bridge_vlan_membership/README.md
  roles/bridge_vlan_membership/defaults/main.yml
  roles/bridge_vlan_membership/meta/argument_specs.yml
  roles/bridge_vlan_membership/tasks/main.yml
  roles/bridge_vlan_membership/templates/bridge-vlan-membership.service.j2
  roles/bridge_vlan_membership/templates/bridge-vlan-membership.sh.j2
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets (#91)
  .ansible-lint
  .github/workflows/collection-ci.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-galaxy.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: add persistence for bridge VLAN membership with systemd unit and script (#92)
  roles/bridge_vlan_membership/README.md
  roles/bridge_vlan_membership/defaults/main.yml
  roles/bridge_vlan_membership/meta/argument_specs.yml
  roles/bridge_vlan_membership/tasks/main.yml
  roles/bridge_vlan_membership/templates/bridge-vlan-membership.service.j2
  roles/bridge_vlan_membership/templates/bridge-vlan-membership.sh.j2
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  353b8d16a9acbe07eec30745205f2026d93c725f
Due: none

chore: sync shared assets from lightning-it/shared-assets
  scripts/wunder-devtools-ee.sh
Due: none

feat: update ee-wunder-devtools-ubi9 image tag to v1.8.1 in scripts
  renovate.base.json
  scripts/wunder-devtools-ee.sh
Due: none

feat: add package version management guidelines to AGENT.md
  AGENT.md
Due: none

chore: sync shared assets from lightning-it/shared-assets
  AGENT.md
  renovate.base.json
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets (#93)
  AGENT.md
  renovate.base.json
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: none

chore(release): 1.17.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  a9e16a06afecd1f44a44e289a692215cf6a60868
Due: none

chore: sync shared assets from lightning-it/shared-assets
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: none

fix: introduce new terragrunt_args
  roles/terragrunt/defaults/main.yml
  roles/terragrunt/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.17.2 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  4aea367132422273ea6a27e7b125bd37a5a78d16
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#96)
  .github/workflows/collection-ci.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  AGENT.md
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: add template validation for vSphere cloning process
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets (#104)
  .github/workflows/collection-ci.yml
  AGENT.md
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: add template validation for vSphere cloning process (#110)
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  940c63129c870152463742e85c81a7cb55d6f216
Due: none

chore: sync shared assets from lightning-it/shared-assets
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/wunder-devtools-ee.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets (#111)
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/wunder-devtools-ee.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets
  CONTRIBUTING.md
  LICENSE
  scripts/wunder-devtools-ee.sh
Due: none

chore: update license from GPL to MIT across multiple files
  CONTRIBUTING.md
  LICENSE
  galaxy.yml
  package-lock.json
  package.json
  roles/bridge_vlan_membership/meta/main.yml
  roles/kubeplay/meta/main.yml
  roles/net_vlan_autogen/meta/main.yml
  roles/oob_redfish_control/meta/main.yml
  roles/oob_redfish_inventory/meta/main.yml
  roles/terraform_state_migrate/meta/main.yml
  roles/terragrunt/README.md
  roles/terragrunt/meta/main.yml
  roles/vmware_vsphere/meta/main.yml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: update license from GPL to MIT across multiple files (#115)
  CONTRIBUTING.md
  LICENSE
  galaxy.yml
  package-lock.json
  package.json
  roles/bridge_vlan_membership/meta/main.yml
  roles/kubeplay/meta/main.yml
  roles/net_vlan_autogen/meta/main.yml
  roles/oob_redfish_control/meta/main.yml
  roles/oob_redfish_inventory/meta/main.yml
  roles/terraform_state_migrate/meta/main.yml
  roles/terragrunt/README.md
  roles/terragrunt/meta/main.yml
  roles/vmware_vsphere/meta/main.yml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, collection-smoke
