Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: bash -lc 'docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator'

collection-smoke:
  name: collection smoke test (example.yml via devtools)
  language: system
  entry: bash scripts/devtools-collection-smoke.sh
  pass_filenames: false

Potential fix for pull request finding
  scripts/generate-release-evidence.py
Due: none

Potential fix for pull request finding
  RELEASE.md
Due: none

Potential fix for pull request finding
  OPENSSF.md
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  OPENSSF.md
  RELEASE.md
  scripts/generate-release-evidence.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: support hardened collection CI
  changelogs/fragments/ci-read-only-execution-environment.yml
  molecule/hetzner-installimage-basic/cleanup.yml
  molecule/hetzner-installimage-basic/converge.yml
  molecule/hetzner-installimage-basic/includes/prepare-fixtures.yml
  molecule/hetzner-installimage-basic/molecule.yml
  molecule/hetzner-installimage-basic/prepare.yml
  molecule/hetzner-installimage-basic/verify.yml
  molecule/terragrunt_basic/converge.yml
  playbooks/terragrunt.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: use executable controller temp path
  molecule/terragrunt_basic/converge.yml
  playbooks/terragrunt.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/copilot-review.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): prepare v1.32.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/ansible-vault-document-bounded-large-escrow.yml
  changelogs/fragments/ci-read-only-execution-environment.yml
  changelogs/fragments/vmware-vsphere-folder-task-entry-points.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets-lit
  .pre-commit-config.yaml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/codex/prompts/remediate-copilot.md
  .github/workflows/codex-copilot-remediation.yml
  .github/workflows/copilot-review.yml
  .pre-commit-config.yaml
  OPENSSF.md
  RELEASE.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/codex-copilot-remediation.yml
  .github/workflows/collection-ci.yml
  .pre-commit-config.yaml
  changelogs/fragments/shared-assets-sync.yml
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared-assets-lit (#280)
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/codex-copilot-remediation.yml
  .github/workflows/copilot-review.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  RELEASE.md
  TESTING.md
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/codex-copilot-remediation.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

fix: migrate promotion workflow to release App (#320)
  .github/workflows/promote-develop-to-main.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Delegate foundational heavy validation
  .github/workflows/collection-ci.yml
  TESTING.md
  changelogs/fragments/delegate-heavy-validation.yml
  molecule/hetzner-cloud-incus_heavy/molecule.yml
  molecule/hetzner-cloud-incus_heavy/verify.yml
  molecule/secret-resolver-vault-integration_heavy/verify.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Cover all Foundational Heavy scenarios centrally
  .github/workflows/collection-ci.yml
  TESTING.md
  molecule/hetzner-robot-live_heavy/verify.yml
  molecule/hetzner_cloud_live_heavy/verify.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Pin complete central Heavy workflow
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Harden protected Heavy runner routing
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Address Heavy review findings
  .github/workflows/collection-ci.yml
  molecule/hetzner-cloud-incus_heavy/molecule.yml
  molecule/hetzner-cloud-incus_heavy/verify.yml
  molecule/secret-resolver-vault-integration_heavy/verify.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Pin Heavy workflow to protected develop history
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Delegate Foundational Heavy validation (#342)
  .github/workflows/collection-ci.yml
  TESTING.md
  changelogs/fragments/delegate-heavy-validation.yml
  molecule/hetzner-cloud-incus_heavy/molecule.yml
  molecule/hetzner-cloud-incus_heavy/verify.yml
  molecule/hetzner-robot-live_heavy/verify.yml
  molecule/hetzner_cloud_live_heavy/verify.yml
  molecule/secret-resolver-vault-integration_heavy/verify.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs(ci): require durable Heavy workflow pins
  TESTING.md
Due: none

chore: address ADR assurance review
  OPENSSF.md
Due: none

docs: record ADR assurance change
  changelogs/fragments/adr-assurance.yml
Due: yamllint-ee, ansible-lint-ee

docs(governance): record collection assurance decision
  .github/CODEOWNERS
  OPENSSF.md
Due: none

docs(governance): record collection assurance controls (#345)
  .github/CODEOWNERS
  OPENSSF.md
  changelogs/fragments/adr-assurance.yml
Due: yamllint-ee, ansible-lint-ee

feat(robot): pin numeric identity during audits
  changelogs/fragments/robot-audit-server-number.yml
  molecule/hetzner-robot-cac-basic/converge.yml
  molecule/hetzner-robot-cac-basic/verify.yml
  roles/hetzner_robot_cac/README.md
  roles/hetzner_robot_cac/meta/argument_specs.yml
  roles/hetzner_robot_cac/tasks/assert_audit.yml
  roles/hetzner_robot_cac/tasks/audit.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat(validation): add root-of-trust G0 and G2 contracts
  README.md
  changelogs/fragments/root-of-trust-validation.yml
  molecule/root-of-trust-validate-basic/converge.yml
  molecule/root-of-trust-validate-basic/molecule.yml
  molecule/root-of-trust-validate-basic/resources
  molecule/root-of-trust-validate-basic/verify.yml
  roles/root_of_trust_validate/README.md
  roles/root_of_trust_validate/defaults/main.yml
  roles/root_of_trust_validate/meta/argument_specs.yml
  roles/root_of_trust_validate/meta/main.yml
  roles/root_of_trust_validate/tasks/assert.yml
  roles/root_of_trust_validate/tasks/g0_assert.yml
  roles/root_of_trust_validate/tasks/g0_evaluate.yml
  roles/root_of_trust_validate/tasks/g0_firewall_observe.yml
  roles/root_of_trust_validate/tasks/g0_identity_assert.yml
  roles/root_of_trust_validate/tasks/g0_live.yml
  roles/root_of_trust_validate/tasks/g0_observe.yml
  roles/root_of_trust_validate/tasks/g2_assert.yml
  roles/root_of_trust_validate/tasks/g2_plan.yml
  roles/root_of_trust_validate/tasks/g2_validate_protected_port.yml
  roles/root_of_trust_validate/tasks/g2_validate_rule.yml
  roles/root_of_trust_validate/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add 1Password recovery boundary
  changelogs/fragments/onepassword-secret-item.yml
  plugins/action/onepassword_secret_item.py
  plugins/action/onepassword_ssh_key_item.py
  plugins/action/onepassword_ssh_secret_stdin.py
  plugins/modules/onepassword_secret_item.py
  plugins/modules/onepassword_ssh_key_item.py
  plugins/modules/onepassword_ssh_secret_stdin.py
  tests/unit/plugins/action/test_onepassword_secret_item.py
  tests/unit/plugins/action/test_onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_ssh_secret_stdin.py
Due: yamllint-ee, ansible-lint-ee

fix(validation): fail closed on root firewall policy
  README.md
  changelogs/fragments/root-of-trust-validation.yml
  molecule/root-of-trust-validate-basic/converge.yml
  molecule/root-of-trust-validate-basic/resources
  molecule/root-of-trust-validate-basic/verify.yml
  plugins/filter/root_of_trust.py
  roles/root_of_trust_validate/README.md
  roles/root_of_trust_validate/defaults/main.yml
  roles/root_of_trust_validate/meta/argument_specs.yml
  roles/root_of_trust_validate/tasks/g2_assert.yml
  roles/root_of_trust_validate/tasks/g2_plan.yml
  roles/root_of_trust_validate/tasks/g2_validate_protected_port.yml
  roles/root_of_trust_validate/tasks/g2_validate_rule.yml
  tests/unit/plugins/filter/test_root_of_trust.py
  tests/unit/roles/test_root_of_trust_validate.py
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: harden 1Password controller boundaries
  changelogs/fragments/onepassword-secret-item.yml
  plugins/action/_onepassword_boundary.py
  plugins/action/onepassword_secret_item.py
  plugins/action/onepassword_ssh_key_item.py
  plugins/action/onepassword_ssh_secret_stdin.py
  plugins/modules/onepassword_secret_item.py
  plugins/modules/onepassword_ssh_key_item.py
  plugins/modules/onepassword_ssh_secret_stdin.py
  tests/unit/plugins/action/test_onepassword_boundary.py
  tests/unit/plugins/action/test_onepassword_secret_item.py
  tests/unit/plugins/action/test_onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_ssh_secret_stdin.py
Due: yamllint-ee, ansible-lint-ee

fix: require signed one-time approvals
  changelogs/fragments/onepassword-secret-item.yml
  plugins/action/_onepassword_boundary.py
  plugins/action/onepassword_secret_item.py
  plugins/action/onepassword_ssh_key_item.py
  plugins/action/onepassword_ssh_secret_stdin.py
  plugins/modules/onepassword_secret_item.py
  plugins/modules/onepassword_ssh_key_item.py
  plugins/modules/onepassword_ssh_secret_stdin.py
  tests/unit/plugins/action/onepassword_approval_support.py
  tests/unit/plugins/action/test_onepassword_boundary.py
  tests/unit/plugins/action/test_onepassword_secret_item.py
  tests/unit/plugins/action/test_onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_ssh_secret_stdin.py
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
  collection-smoke: any of: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)
