Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # Molecule tests for all non-heavy scenarios (via wunder-devtools-ee)
      - id: molecule-light
        name: molecule test (non-heavy scenarios via devtools)
        language: system
        entry: bash scripts/devtools-molecule.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >-
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

      # -------------------------------------------------------------------
      # ansible-collection smoke test (build + example playbook)
      # -------------------------------------------------------------------
      - id: collection-smoke
        name: collection smoke test (example.yml via devtools)
        language: system
        entry: bash scripts/devtools-collection-smoke.sh
        pass_filenames: false
        files: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)

feat: role packer added (#135)
  AGENTS.md
  molecule/ansible-remote-tmp-basic/converge.yml
  molecule/ansible-remote-tmp-basic/verify.yml
  molecule/bridge-vlan-membership-basic/converge.yml
  molecule/bridge-vlan-membership-basic/verify.yml
  molecule/oob-redfish-control-basic/converge.yml
  molecule/oob-redfish-control-basic/verify.yml
  molecule/oob-redfish-inventory-basic/converge.yml
  molecule/oob-redfish-inventory-basic/verify.yml
  molecule/terraform-state-migrate-basic/converge.yml
  molecule/terraform-state-migrate-basic/verify.yml
  roles/vmware_vsphere/tasks/normalize.yml
  roles/vmware_vsphere_packer_build/README.md
  roles/vmware_vsphere_packer_build/defaults/main.yml
  roles/vmware_vsphere_packer_build/meta/main.yml
  roles/vmware_vsphere_packer_build/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: update AGENTS.md to clarify local PR gate requirements and improve documentation
  AGENT.md
  AGENTS.md
Due: none

feat: update AGENTS.md to clarify local PR gate requirements and improve documentation (#138)
  AGENT.md
  AGENTS.md
Due: none

chore: rely on GitHub Releases for release notes
  .github/workflows/collection-publish-galaxy.yml
  .releaserc
  AGENT.md
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  SECURITY.md
  package-lock.json
  package.json
  roles/terragrunt/CHANGELOG.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, collection-smoke

fix: restrict collection publish trigger
  .github/workflows/collection-publish.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync collection release wrapper
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/changelog.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  .github/workflows/semantic-release.yml
  AGENTS.md
  CONTRIBUTING.md
  changelogs/config.yaml
  changelogs/fragments/.gitkeep
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

docs: sync collection release rules
  AGENTS.md
  CONTRIBUTING.md
Due: none

chore: sync shared assets from lightning-it/shared-assets (#141)
  .github/workflows/changelog.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  .github/workflows/semantic-release.yml
  AGENTS.md
  CONTRIBUTING.md
  changelogs/config.yaml
  changelogs/fragments/.gitkeep
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: add antsibull collection release workflow (#140)
  .releaserc
  package-lock.json
  package.json
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#142)
  .github/workflows/collection-ci.yml
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: render shared-assets-lit baseline
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/collection-publish.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-prepare.yml
  .github/workflows/renovate-guarded-automerge.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  .yamllint
  AGENTS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  changelogs/config.yaml
  changelogs/fragments/.gitkeep
  renovate.base.json
  renovate.json
  scripts/bump_galaxy_version.py
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

fix: wrap release workflow lines
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: skip molecule helper directories
  scripts/devtools-molecule.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/collection-publish.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-prepare.yml
  .github/workflows/renovate-guarded-automerge.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  .yamllint
  AGENTS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  changelogs/config.yaml
  changelogs/fragments/.gitkeep
  renovate.base.json
  renovate.json
  scripts/bump_galaxy_version.py
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore: render shared-assets-lit baseline (#144)
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/collection-publish.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-prepare.yml
  .github/workflows/renovate-guarded-automerge.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  .yamllint
  AGENTS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  changelogs/config.yaml
  changelogs/fragments/.gitkeep
  renovate.base.json
  renovate.json
  scripts/bump_galaxy_version.py
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore: add changelog fragment
  changelogs/fragments/foundational-agents-refactored.yml
Due: yamllint-ee, ansible-lint-ee

fix: agents refactored (#148)
  README.md
  changelogs/fragments/foundational-agents-refactored.yml
  galaxy.yml
  molecule/ansible-remote-tmp-basic/converge.yml
  molecule/ansible-remote-tmp-basic/molecule.yml
  molecule/ansible-remote-tmp-basic/verify.yml
  molecule/bridge-vlan-membership-basic/converge.yml
  molecule/bridge-vlan-membership-basic/molecule.yml
  molecule/bridge-vlan-membership-basic/verify.yml
  molecule/oob-redfish-control-basic/converge.yml
  molecule/oob-redfish-control-basic/molecule.yml
  molecule/oob-redfish-control-basic/verify.yml
  molecule/oob-redfish-inventory-basic/converge.yml
  molecule/oob-redfish-inventory-basic/molecule.yml
  molecule/oob-redfish-inventory-basic/verify.yml
  molecule/terraform-state-migrate-basic/converge.yml
  molecule/terraform-state-migrate-basic/molecule.yml
  molecule/terraform-state-migrate-basic/verify.yml
  roles/ansible_remote_tmp/README.md
  roles/bridge_vlan_membership/README.md
  roles/kubeplay/README.md
  roles/net_vlan_autogen/README.md
  roles/oob_redfish_control/README.md
  roles/oob_redfish_inventory/README.md
  roles/terraform_state_migrate/README.md
  roles/terragrunt/README.md
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/tasks/assets.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere/tasks/normalize.yml
  roles/vmware_vsphere_guest_bootstrap/README.md
  roles/vmware_vsphere_guest_bootstrap/defaults/main.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/assert.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/main.yml
  roles/vmware_vsphere_guest_bootstrap/templates/bootstrap-linux.sh.j2
  roles/vmware_vsphere_packer_build/README.md
  roles/vmware_vsphere_packer_build/defaults/main.yml
  roles/vmware_vsphere_packer_build/meta/main.yml
  roles/vmware_vsphere_packer_build/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/changelog.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: wrap foundational changelog fragment
  changelogs/fragments/foundational-agents-refactored.yml
Due: yamllint-ee, ansible-lint-ee

ci: install collection requirements for smoke tests
  collections/requirements.yml
  scripts/devtools-collection-prepare.sh
Due: yamllint-ee, ansible-lint-ee

chore: sync shared-assets-lit (#149)
  .github/workflows/changelog.yml
  changelogs/fragments/foundational-agents-refactored.yml
  collections/requirements.yml
  scripts/devtools-collection-prepare.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): promote develop to main
  .github/workflows/changelog.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  .pre-commit-config.yaml
  AGENTS.md
  changelogs/fragments/foundational-agents-refactored.yml
  collections/requirements.yml
  renovate.base.json
  renovate.json
  scripts/devtools-collection-prepare.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore(release): promote develop to main (#151)
  .github/workflows/changelog.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
  .pre-commit-config.yaml
  AGENTS.md
  changelogs/fragments/foundational-agents-refactored.yml
  collections/requirements.yml
  renovate.base.json
  renovate.json
  scripts/devtools-collection-prepare.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore: back-sync main into develop (#152)
  .releaserc
  package-lock.json
  package.json
Due: none

docs: align community.general requirement
  README.md
Due: none

docs: align community.general requirement (#154)
  README.md
Due: none

chore(release): promote develop to main (#153)
  README.md
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/release-prepare.yml
  AGENTS.md
  CONTRIBUTING.md
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: auto-open collection release PRs
  .github/workflows/release-prepare.yml
  AGENTS.md
  CONTRIBUTING.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#157)
  .github/workflows/release-prepare.yml
  AGENTS.md
  CONTRIBUTING.md
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint
