Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: bash -lc 'docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator'

collection-smoke:
  name: collection smoke test (example.yml via devtools)
  language: system
  entry: bash scripts/devtools-collection-smoke.sh
  pass_filenames: false

fix(onepassword): bind stdin transport to trusted descriptors
  plugins/action/onepassword_ssh_secret_stdin.py
  plugins/modules/onepassword_ssh_secret_stdin.py
  tests/unit/plugins/action/test_onepassword_ssh_secret_stdin.py
Due: none

fix(onepassword): reap interrupted SSH consumer
  plugins/action/onepassword_ssh_secret_stdin.py
  tests/unit/plugins/action/test_onepassword_ssh_secret_stdin.py
Due: none

fix(onepassword): bind SSH temp files to approval root
  plugins/action/onepassword_ssh_secret_stdin.py
  tests/unit/plugins/action/test_onepassword_ssh_secret_stdin.py
Due: none

fix(onepassword): reap interrupted secret producer
  plugins/action/onepassword_ssh_secret_stdin.py
  tests/unit/plugins/action/test_onepassword_ssh_secret_stdin.py
Due: none

fix(onepassword): escape OpenSSH path tokens
  plugins/action/onepassword_ssh_secret_stdin.py
  tests/unit/plugins/action/test_onepassword_ssh_secret_stdin.py
Due: none

fix(release): promote exact-review dispatch controller
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): verify resolved app author via REST
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): require protected workflow refs
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): bind canonical app and agent contract
  .github/copilot-instructions.md
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): bind PR head to full repository
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): await PR metadata convergence
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(release): keep workflow outside backsync metadata
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat(podman): support native Quadlet networks
  changelogs/fragments/podman-systemd-native-kube-network.yml
  roles/podman_systemd/README.md
  roles/podman_systemd/defaults/main.yml
  roles/podman_systemd/tasks/assert.yml
  roles/podman_systemd/templates/kube.quadlet.j2
  tests/unit/roles/test_podman_systemd.py
Due: yamllint-ee, ansible-lint-ee, collection-smoke

docs(podman): align Quadlet role interface
  roles/podman_systemd/README.md
Due: collection-smoke

docs(podman): use actual role inputs
  roles/podman_systemd/README.md
Due: collection-smoke

fix(podman): apply changed Quadlet networks
  changelogs/fragments/podman-systemd-native-kube-network.yml
  roles/podman_systemd/README.md
  roles/podman_systemd/tasks/main.yml
  tests/unit/roles/test_podman_systemd.py
Due: yamllint-ee, ansible-lint-ee, collection-smoke

test(podman): cover native quadlet networks
  molecule/podman-systemd-basic/converge.yml
  molecule/podman-systemd-basic/molecule.yml
  molecule/podman-systemd-basic/verify.yml
Due: yamllint-ee, ansible-lint-ee

fix(podman): reject mapped network inputs
  molecule/podman-systemd-basic/converge.yml
  molecule/podman-systemd-basic/verify.yml
  roles/podman_systemd/tasks/assert.yml
  tests/unit/roles/test_podman_systemd.py
Due: yamllint-ee, ansible-lint-ee, collection-smoke

test(podman): reset persistent molecule fixture
  molecule/podman-systemd-basic/molecule.yml
  molecule/podman-systemd-basic/prepare.yml
Due: yamllint-ee, ansible-lint-ee

ci: bound collection validation and dispatch jobs
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish.yml
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
  collection-smoke: any of: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)
