Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # Molecule tests for all non-heavy scenarios (via wunder-devtools-ee)
      - id: molecule-light
        name: molecule test (non-heavy scenarios via devtools)
        language: system
        entry: bash scripts/devtools-molecule.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >-
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

      # -------------------------------------------------------------------
      # ansible-collection smoke test (build + example playbook)
      # -------------------------------------------------------------------
      - id: collection-smoke
        name: collection smoke test (example.yml via devtools)
        language: system
        entry: bash scripts/devtools-collection-smoke.sh
        pass_filenames: false
        files: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)

Notes added by 'git notes add'
  56fffb16ec135d689b25f8894f34c0c4e0ccb2d8
Due: none

feat: enhance guest network customization by integrating nic_setting_map handling
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/tasks/normalize.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: correct YAML formatting in galaxy.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: enhance guest network customization by integrating nic_setting_… (#54)
  galaxy.yml
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/tasks/normalize.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  315ae6f705fb78ac9a2ca6ee114df95e8f0c10d4
Due: none

changes for ocp-play02
  roles/vmware_vsphere/tasks/create_folder.yml
  roles/vmware_vsphere/tasks/delete_folder.yml
  roles/vmware_vsphere/tasks/main.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
  scripts/bump_galaxy_version.py
  scripts/devtools-collection-prepare.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

feat: add validation and management tasks for kubeplay and terragrunt environments
  roles/kubeplay/tasks/apps/podman_kube_play.yml
  roles/kubeplay/tasks/main.yml
  roles/terragrunt/defaults/main.yml
  roles/terragrunt/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: fix typo
  roles/terragrunt/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets (#55)
  .pre-commit-config.yaml
  scripts/bump_galaxy_version.py
  scripts/devtools-collection-prepare.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

Fix: refactore kubeplay terragrunt (#56)
  roles/kubeplay/tasks/apps/podman_kube_play.yml
  roles/kubeplay/tasks/main.yml
  roles/terragrunt/defaults/main.yml
  roles/terragrunt/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add terraform state migration role and update related documentation
  .pre-commit-config.yaml
  README.md
  galaxy.yml
  roles/terraform_state_migrate/README.md
  roles/terraform_state_migrate/defaults/main.yml
  roles/terraform_state_migrate/meta/main.yml
  roles/terraform_state_migrate/tasks/main.yml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets
  scripts/wunder-devtools-ee.sh
Due: none

fix: use inventory_hostname
  roles/terragrunt/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets (#57)
  scripts/wunder-devtools-ee.sh
Due: none

feat: add configuration and requirements files for molecule testing and implement S3 upload tasks for Terraform state migration
  molecule/config.yml
  molecule/kubeplay_basic/collections.yml
  molecule/kubeplay_basic/requirements.yml
  molecule/net_vlan_autogen_basic/collections.yml
  molecule/net_vlan_autogen_basic/requirements.yml
  molecule/terragrunt_basic/requirements.yml
  molecule/vmware_vsphere_basic/requirements.yml
  roles/terraform_state_migrate/tasks/main.yml
  roles/terraform_state_migrate/tasks/upload_one.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add ansible provisioner configuration to molecule for environment setup
  molecule/config.yml
Due: yamllint-ee, ansible-lint-ee

feat: update .gitignore to include all collections and add requirements.yml for community.docker
  .gitignore
  collections/requirements.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .gitignore
Due: none

chore: sync shared assets from lightning-it/shared-assets (#61)
  .gitignore
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/bump_galaxy_version.py
  scripts/devtools-collection-prepare.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#62)
  .github/workflows/collection-ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/bump_galaxy_version.py
  scripts/devtools-collection-prepare.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: update .gitignore to include all collections and add requirements.yml for community.docker
  collections/requirements.yml
Due: yamllint-ee, ansible-lint-ee

feat: add terraform state migration role and update related documentation
  .pre-commit-config.yaml
  README.md
  galaxy.yml
  roles/terraform_state_migrate/README.md
  roles/terraform_state_migrate/defaults/main.yml
  roles/terraform_state_migrate/meta/main.yml
  roles/terraform_state_migrate/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: update references from wunder-devtools-ee to ee-wunder-devtools-ubi9 across CI and documentation
  README.md
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/main.yml
  roles/vmware_vsphere/tasks/manage_folder.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: ansible role terraform state migrate added (#59)
  .pre-commit-config.yaml
  README.md
  collections/requirements.yml
  galaxy.yml
  molecule/config.yml
  molecule/kubeplay_basic/collections.yml
  molecule/kubeplay_basic/requirements.yml
  molecule/net_vlan_autogen_basic/collections.yml
  molecule/net_vlan_autogen_basic/requirements.yml
  molecule/terragrunt_basic/requirements.yml
  molecule/vmware_vsphere_basic/requirements.yml
  roles/terraform_state_migrate/README.md
  roles/terraform_state_migrate/defaults/main.yml
  roles/terraform_state_migrate/meta/main.yml
  roles/terraform_state_migrate/tasks/main.yml
  roles/terraform_state_migrate/tasks/upload_one.yml
  roles/terragrunt/tasks/main.yml
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/main.yml
  roles/vmware_vsphere/tasks/manage_folder.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  f2f99d765f84b78c7430c24f5034548729a434cc
Due: none

feat: add terragrunt import validation and state management tasks
  roles/terragrunt/defaults/main.yml
  roles/terragrunt/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add terragrunt import validation and state management tasks (#64)
  roles/terragrunt/defaults/main.yml
  roles/terragrunt/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  a6643bf3125a8fa69c25c856d3bc8d9bae20fddd
Due: none

feat: implement Vault token management for terragrunt tasks
  roles/terragrunt/defaults/main.yml
  roles/terragrunt/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: implement Vault token management for terragrunt tasks (#66)
  roles/terragrunt/defaults/main.yml
  roles/terragrunt/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  3ecc83d2e2e5fdeb29353feb0e432dd5b5172052
Due: none
