Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: bash -lc 'docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator'

collection-smoke:
  name: collection smoke test (example.yml via devtools)
  language: system
  entry: bash scripts/devtools-collection-smoke.sh
  pass_filenames: false

fix: make foundational helper roles lint clean
  changelogs/fragments/foundational-tls-secret-helpers.yml
  roles/kubeplay/tasks/apps/podman_kube_play.yml
  roles/podman_systemd/defaults/main.yml
  roles/secret_backend/defaults/main.yml
  roles/secret_backend/tasks/main.yml
  roles/secret_kv/defaults/main.yml
  roles/secret_kv/tasks/main.yml
  roles/tls_assets/tasks/main.yml
  roles/vault_pki_cert/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): prepare v1.26.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/foundational-tls-secret-helpers.yml
  changelogs/fragments/kubeplay-pass-app-vars.yml
  changelogs/fragments/podman-systemd-role.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

ci: require Galaxy publish for collection releases
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: use galaxy publish environment secret
  .github/workflows/collection-publish.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: resolve galaxy token in shell
  .github/workflows/collection-publish.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/shared-assets-guarded-automerge.yml
  AGENTS.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: target develop for collection releases
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: keep collection publishing on main
  .github/workflows/collection-publish.yml
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#216)
  .lit/repository.yml
  README.md
  RELEASE.md
  TESTING.md
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/ISSUE_TEMPLATE/security-readiness.md
  .github/pull_request_template.md
  .github/workflows/openssf-scorecard.yml
  OPENSSF.md
  README.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#217)
  .github/ISSUE_TEMPLATE/security-readiness.md
  .github/pull_request_template.md
  .github/workflows/openssf-scorecard.yml
  OPENSSF.md
  README.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/openssf-scorecard.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#219)
  .github/workflows/openssf-scorecard.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  README.md
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit (#220)
  README.md
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit (#221)
  .github/workflows/openssf-scorecard.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: call public OpenSSF reusable workflow
  .github/workflows/openssf-scorecard.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: call public OpenSSF reusable workflow (#223)
  .github/workflows/openssf-scorecard.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .lit/repository.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets-lit
  .lit/repository.yml
  README.md
  scripts/generate-release-evidence.py
Due: yamllint-ee, ansible-lint-ee

feat: add compatibility matrix and release evidence schema
  .lit/repository.yml
  README.md
  scripts/generate-release-evidence.py
Due: yamllint-ee, ansible-lint-ee

docs: add compatibility evidence changelog fragment
  changelogs/fragments/compatibility-release-evidence.yml
Due: yamllint-ee, ansible-lint-ee

chore: align README quality checks
  changelogs/fragments/enterprise-readme-standard.yml
Due: yamllint-ee, ansible-lint-ee

docs: apply enterprise README standard (#228)
  .markdownlint-cli2.yaml
  README.md
  changelogs/fragments/enterprise-readme-standard.yml
Due: yamllint-ee, ansible-lint-ee

chore: consolidate shared-assets-lit governance
  .lit/repository.yml
  OPENSSF.md
  README.md
  RELEASE.md
  TESTING.md
  changelogs/fragments/shared-assets-lit-governance.yml
Due: yamllint-ee, ansible-lint-ee

chore: sync OpenSSF Best Practices readiness
  .lit/repository.yml
  OPENSSF.md
Due: yamllint-ee, ansible-lint-ee

chore: sync OpenSSF Best Practices readiness (#232)
  .lit/repository.yml
  OPENSSF.md
Due: yamllint-ee, ansible-lint-ee

Add OpenSSF badges to README
  README.md
Due: none

Revert "Add OpenSSF badges to README"
  README.md
Due: none

Implement Hetzner Installimage Role Enhancements
  changelogs/fragments/hetzner-installimage.yml
  molecule/hetzner-installimage-basic/cleanup.yml
  molecule/hetzner-installimage-basic/converge.yml
  molecule/hetzner-installimage-basic/files/functions.sh
  molecule/hetzner-installimage-basic/files/image.tar.zst
  molecule/hetzner-installimage-basic/files/installimage-stub
  molecule/hetzner-installimage-basic/files/ip-stub
  molecule/hetzner-installimage-basic/files/lsblk-stub
  molecule/hetzner-installimage-basic/files/lsblk.json
  molecule/hetzner-installimage-basic/files/post-install.sh
  molecule/hetzner-installimage-basic/files/robot_user_keys
  molecule/hetzner-installimage-basic/includes/prepare-fixtures.yml
  molecule/hetzner-installimage-basic/molecule.yml
  molecule/hetzner-installimage-basic/prepare.yml
  molecule/hetzner-installimage-basic/verify.yml
  roles/hetzner_installimage/README.md
  roles/hetzner_installimage/defaults/main.yml
  roles/hetzner_installimage/meta/argument_specs.yml
  roles/hetzner_installimage/meta/main.yml
  roles/hetzner_installimage/tasks/assert.yml
  roles/hetzner_installimage/tasks/discover.yml
  roles/hetzner_installimage/tasks/install.yml
  roles/hetzner_installimage/tasks/main.yml
  roles/hetzner_installimage/tasks/plan.yml
  roles/hetzner_installimage/tasks/validate.yml
  roles/hetzner_installimage/templates/installimage.conf.j2
  roles/hetzner_installimage/templates/post-mount-sanitize.sh.j2
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Add ansible_vault_secret_document action plugin for secure document creation
  changelogs/fragments/ansible-vault-secret-document.yml
  plugins/action/ansible_vault_secret_document.py
  tests/unit/plugins/action/test_ansible_vault_secret_document.py
Due: yamllint-ee, ansible-lint-ee

Add ansible_vault_secret_document module and enhance action plugin with concurrency tests
  plugins/action/ansible_vault_secret_document.py
  plugins/modules/ansible_vault_secret_document.py
  tests/unit/plugins/action/test_ansible_vault_secret_document.py
Due: none

Add ansible_vault_document action plugin and related tests for secure document handling
  changelogs/fragments/ansible-vault-document.yml
  plugins/action/ansible_vault_document.py
  plugins/action/ansible_vault_secret_document.py
  plugins/modules/ansible_vault_document.py
  tests/unit/plugins/action/test_ansible_vault_document.py
  tests/unit/plugins/action/test_ansible_vault_secret_document.py
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
  collection-smoke: any of: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)
