Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # Molecule tests for all non-heavy scenarios (via wunder-devtools-ee)
      - id: molecule-light
        name: molecule test (non-heavy scenarios via devtools)
        language: system
        entry: bash scripts/devtools-molecule.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >-
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

      # -------------------------------------------------------------------
      # ansible-collection smoke test (build + example playbook)
      # -------------------------------------------------------------------
      - id: collection-smoke
        name: collection smoke test (example.yml via devtools)
        language: system
        entry: bash scripts/devtools-collection-smoke.sh
        pass_filenames: false
        files: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)

fix: wrap auto-release workflow description
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#160)
  .github/workflows/release-prepare.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/changelog.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  AGENTS.md
  CONTRIBUTING.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared-assets-lit
  .github/workflows/changelog.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  AGENTS.md
  CONTRIBUTING.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#164)
  .github/workflows/changelog.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): prepare v1.22.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/foundational-agents-refactored.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/changelog.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#168)
  .github/workflows/changelog.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#170)
  .github/workflows/collection-publish.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/promote-develop-to-main.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#174)
  .github/workflows/promote-develop-to-main.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: verify collection release workflow cycle 1
  changelogs/fragments/release-verification-1.yml
Due: yamllint-ee, ansible-lint-ee

test: verify collection release workflow cycle 1 (#177)
  changelogs/fragments/release-verification-1.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): prepare v1.23.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/release-verification-1.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#181)
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

test: verify collection release workflow cycle 2
  changelogs/fragments/release-verification-2.yml
Due: yamllint-ee, ansible-lint-ee

test: verify collection release workflow cycle 2 (#184)
  changelogs/fragments/release-verification-2.yml
Due: yamllint-ee, ansible-lint-ee

chore(release): prepare v1.24.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/release-verification-2.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets-lit (#188)
  .github/workflows/release-back-sync.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: remove legacy markdown changelog
  CHANGELOG.md
Due: none

chore: remove legacy markdown changelog (#191)
  CHANGELOG.md
Due: none

chore: sync shared assets from lightning-it/shared-assets-lit (#194)
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  scripts/devtools-changelog-check.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets-lit (#197)
  .github/workflows/collection-ci.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets-lit
  renovate.json
  scripts/wunder-devtools-ee.sh
Due: renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets-lit (#198)
  renovate.json
  scripts/wunder-devtools-ee.sh
Due: renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets-lit
  .ansible-lint
  scripts/devtools-changelog-check.sh
  scripts/wunder-devtools-ee.sh
Due: none

feat: enhance guest bootstrap process with cleanup and retry logic
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere/tasks/normalize.yml
  roles/vmware_vsphere_guest_bootstrap/defaults/main.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/assert.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/main.yml
  roles/vmware_vsphere_guest_bootstrap/templates/bootstrap-linux.sh.j2
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add service lifecycle role family layout guidelines
  AGENTS.md
Due: none

feat: add guidelines for containerized service/application lifecycle roles using kubeplay
  AGENTS.md
Due: none

feat: fix kubeplay task execution to ensure per-app variables are correctly passed
  changelogs/fragments/kubeplay-pass-app-vars.yml
  roles/kubeplay/tasks/apps/podman_kube_play.yml
  roles/kubeplay/tasks/run_app.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets-lit
  AGENTS.md
Due: none

feat: add f role for managing persistent Podman kube services with Quadlet and systemd
  AGENTS.md
  changelogs/fragments/podman-systemd-role.yml
  roles/kubeplay/tasks/apps/podman_kube_play.yml
  roles/podman_systemd/README.md
  roles/podman_systemd/defaults/main.yml
  roles/podman_systemd/meta/main.yml
  roles/podman_systemd/tasks/assert.yml
  roles/podman_systemd/tasks/main.yml
  roles/podman_systemd/templates/kube.quadlet.j2
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Add roles for secret management and TLS asset handling
  changelogs/fragments/foundational-tls-secret-helpers.yml
  galaxy.yml
  roles/secret_backend/README.md
  roles/secret_backend/defaults/main.yml
  roles/secret_backend/meta/main.yml
  roles/secret_backend/tasks/assert.yml
  roles/secret_backend/tasks/main.yml
  roles/secret_kv/README.md
  roles/secret_kv/defaults/main.yml
  roles/secret_kv/meta/main.yml
  roles/secret_kv/tasks/assert.yml
  roles/secret_kv/tasks/main.yml
  roles/tls_assets/README.md
  roles/tls_assets/defaults/main.yml
  roles/tls_assets/meta/main.yml
  roles/tls_assets/tasks/assert.yml
  roles/tls_assets/tasks/main.yml
  roles/tls_assets/tasks/stage_customer_files.yml
  roles/tls_assets/tasks/stage_vault_pki.yml
  roles/tls_assets/templates/pem_bundle.j2
  roles/vault_pki_cert/README.md
  roles/vault_pki_cert/defaults/main.yml
  roles/vault_pki_cert/meta/main.yml
  roles/vault_pki_cert/tasks/assert.yml
  roles/vault_pki_cert/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke
