Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # Molecule tests for all non-heavy scenarios (via wunder-devtools-ee)
      - id: molecule-light
        name: molecule test (non-heavy scenarios via devtools)
        language: system
        entry: bash scripts/devtools-molecule.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >-
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

      # -------------------------------------------------------------------
      # ansible-collection smoke test (build + example playbook)
      # -------------------------------------------------------------------
      - id: collection-smoke
        name: collection smoke test (example.yml via devtools)
        language: system
        entry: bash scripts/devtools-collection-smoke.sh
        pass_filenames: false
        files: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)

feat: update workflow and playbook configurations for Terraform runner role
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  molecule/tf_runner_basic/converge.yml
  molecule/tf_runner_basic/destroy.yml
  molecule/tf_runner_basic/molecule.yml
  molecule/tf_runner_basic/verify.yml
  playbooks/example.yml
  playbooks/tf_runner.yml
  roles/tf_runner/defaults/main.yml
  roles/tf_runner/tasks/main.yml
  roles/tf_runner/templates/main.tf.j2
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, collection-smoke

feat: initialize foundational Ansible collection with Terraform runner role
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/semantic-release.yml
  .gitignore
  .pre-commit-config.yaml
  .releaserc
  CHANGELOG.md
  README.md
  ansible.cfg
  galaxy.yml
  meta/runtime.yml
  molecule/tf_runner_basic/converge.yml
  molecule/tf_runner_basic/destroy.yml
  molecule/tf_runner_basic/files/main.tf
  molecule/tf_runner_basic/molecule.yml
  molecule/tf_runner_basic/verify.yml
  package-lock.json
  package.json
  playbooks/example.yml
  playbooks/tf_runner.yml
  renovate.json
  roles/tf_runner/defaults/main.yml
  roles/tf_runner/tasks/main.yml
  roles/tf_runner/templates/main.tf.j2
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  c398b4a6a24a548766163dc3dba461c452535e19
Due: none

feat: enhance devtools scripts and add role metadata for Terraform runner
  .pre-commit-config.yaml
  roles/tf_runner/README.md
  roles/tf_runner/meta/main.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: update pre-commit configuration for improved hook descriptions and consistency
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

feat: initialize foundational Ansible collection with Terraform runner role
  .pre-commit-config.yaml
  CHANGELOG.md
  roles/tf_runner/README.md
  roles/tf_runner/meta/main.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  f7ad750396bcffe474beb117fdf771b8d08f79e3
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

refactor: improve COLLECTION_NAME derivation from galaxy.yml
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
Due: none

refactor: update description in package.json for clarity
  package.json
Due: none

refactor: improve COLLECTION_NAME derivation logic in devtools-ansible-lint.sh
  scripts/devtools-ansible-lint.sh
Due: none

refactor: enhance COLLECTION_NAME derivation and streamline CI scripts
  .github/workflows/collection-ci.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

refactor: remove COLLECTION_NAME environment variable from CI workflow
  .github/workflows/collection-ci.yml
  CHANGELOG.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

refactor: update WUNDER_DEVTOOLS_EE_IMAGE version to v1.1.1
  scripts/wunder-devtools-ee.sh
Due: none

fix: improve var handling
  .github/workflows/collection-ci.yml
  CHANGELOG.md
  package.json
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2a9832a7d8f87132be3ebce94d9c12c657adc725
Due: none

refactor: streamline release process by adding bump_galaxy_version script
  .releaserc
  scripts/bump_galaxy_version.py
Due: none

fix: streamline release process by adding bump_galaxy_version script (#4)
  .releaserc
  scripts/bump_galaxy_version.py
Due: none

fix: update semantic-release dependencies for improved stability
  package-lock.json
  package.json
Due: none

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  618d96dd6958bf56fc4086ad1c1f1fa96e6879b6
Due: none

feat: add VMware vSphere role for managing VMs and folders
  AGENT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  roles/vmware_vsphere/.gitignore
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/meta/main.yml
  roles/vmware_vsphere/renovate.json
  roles/vmware_vsphere/tasks/assert.yml
  roles/vmware_vsphere/tasks/create_vm.yml
  roles/vmware_vsphere/tasks/create_vm_folder.yml
  roles/vmware_vsphere/tasks/destroy_vm.yml
  roles/vmware_vsphere/tasks/destroy_vm_folder.yml
  roles/vmware_vsphere/tasks/main.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, collection-smoke

refactor: standardize variable naming for VMware vSphere role
  galaxy.yml
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/assert.yml
  roles/vmware_vsphere/tasks/create_vm.yml
  roles/vmware_vsphere/tasks/create_vm_folder.yml
  roles/vmware_vsphere/tasks/destroy_vm.yml
  roles/vmware_vsphere/tasks/destroy_vm_folder.yml
  roles/vmware_vsphere/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add VMware vSphere role for managing VMs and folders (#7)
  AGENT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  galaxy.yml
  roles/vmware_vsphere/.gitignore
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/meta/main.yml
  roles/vmware_vsphere/renovate.json
  roles/vmware_vsphere/tasks/assert.yml
  roles/vmware_vsphere/tasks/create_vm.yml
  roles/vmware_vsphere/tasks/create_vm_folder.yml
  roles/vmware_vsphere/tasks/destroy_vm.yml
  roles/vmware_vsphere/tasks/destroy_vm_folder.yml
  roles/vmware_vsphere/tasks/main.yml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  5a847ef89df4c0d51d43c7507c7cc0f114baf51c
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .ansible-lint
  .github/workflows/semantic-release.yml
  .gitignore
  .pre-commit-config.yaml
  renovate.json
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets (#8)
  .ansible-lint
  .github/workflows/semantic-release.yml
  .gitignore
  .pre-commit-config.yaml
  renovate.json
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
  scripts/devtools-collection-prepare.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

feat: add initial Terragrunt role with linting, release, and task definitions
  roles/terragrunt/.forgejo/workflows/lint-release.yaml
  roles/terragrunt/.releaserc.yaml
  roles/terragrunt/CHANGELOG.md
  roles/terragrunt/README.md
  roles/terragrunt/defaults/main.yml
  roles/terragrunt/meta/main.yml
  roles/terragrunt/renovate.json
  roles/terragrunt/tasks/assert.yml
  roles/terragrunt/tasks/main.yml
  roles/terragrunt/templates/terragrunt.hcl.j2
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add initial Terragrunt role with linting, release, and task definitions (#16)
  roles/terragrunt/.forgejo/workflows/lint-release.yaml
  roles/terragrunt/.releaserc.yaml
  roles/terragrunt/CHANGELOG.md
  roles/terragrunt/README.md
  roles/terragrunt/defaults/main.yml
  roles/terragrunt/meta/main.yml
  roles/terragrunt/renovate.json
  roles/terragrunt/tasks/assert.yml
  roles/terragrunt/tasks/main.yml
  roles/terragrunt/templates/terragrunt.hcl.j2
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets (#14)
  .pre-commit-config.yaml
  scripts/devtools-collection-prepare.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets (#17)
  .pre-commit-config.yaml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets (#18)
  .pre-commit-config.yaml
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee
