Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      # yamllint via wunder-devtools-ee container
      - id: yamllint-ee
        name: yamllint (wunder-devtools-ee)
        language: system
        entry: bash scripts/wunder-devtools-ee.sh yamllint
        pass_filenames: true
        files: \.(yml|yaml)$

      # ansible-lint in wunder-devtools-ee (build+install collection, then lint)
      - id: ansible-lint-ee
        name: ansible-lint (wunder-devtools-ee)
        language: system
        entry: bash scripts/devtools-ansible-lint.sh
        pass_filenames: false
        files: \.(yml|yaml)$

      # Molecule tests for all non-heavy scenarios (via wunder-devtools-ee)
      - id: molecule-light
        name: molecule test (non-heavy scenarios via devtools)
        language: system
        entry: bash scripts/devtools-molecule.sh
        pass_filenames: false

      # -------------------------------------------------------------------
      # GitHub Actions workflow linting (actionlint)
      # -------------------------------------------------------------------
      - id: github-actions-lint
        name: actionlint (GitHub Actions) via Docker
        language: system
        entry: >-
          bash -lc 'docker run --rm -v "$PWD":/repo
            -w /repo docker.io/rhysd/actionlint:latest'
        pass_filenames: false
        files: ^\.github/workflows/.*\.ya?ml$

      # -------------------------------------------------------------------
      # Renovate config linting (renovate-config-validator)
      # -------------------------------------------------------------------
      - id: renovate-config-validate
        name: renovate-config-validator
        language: system
        pass_filenames: false
        files: ^renovate\.json$
        entry: >-
          bash -lc 'docker run --rm
          -v "$PWD":/repo -w /repo
          renovate/renovate:latest
          renovate-config-validator'

      # -------------------------------------------------------------------
      # ansible-collection smoke test (build + example playbook)
      # -------------------------------------------------------------------
      - id: collection-smoke
        name: collection smoke test (example.yml via devtools)
        language: system
        entry: bash scripts/devtools-collection-smoke.sh
        pass_filenames: false
        files: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)

fix: pin approval replay domain
  changelogs/fragments/onepassword-secret-item.yml
  plugins/action/_onepassword_boundary.py
  plugins/action/onepassword_secret_item.py
  plugins/action/onepassword_ssh_key_item.py
  plugins/action/onepassword_ssh_secret_stdin.py
  plugins/modules/onepassword_secret_item.py
  plugins/modules/onepassword_ssh_key_item.py
  plugins/modules/onepassword_ssh_secret_stdin.py
  tests/unit/plugins/action/onepassword_approval_support.py
  tests/unit/plugins/action/test_onepassword_boundary.py
Due: yamllint-ee, ansible-lint-ee

feat: govern 1Password vault co-managers
  changelogs/fragments/onepassword-vault-co-manager.yml
  plugins/action/onepassword_vault_co_manager.py
  plugins/modules/onepassword_vault_co_manager.py
  tests/unit/plugins/action/test_onepassword_vault_co_manager.py
Due: yamllint-ee, ansible-lint-ee

fix(onepassword): accept canonical account and user UUIDs
  changelogs/fragments/onepassword-secret-item.yml
  plugins/action/_onepassword_boundary.py
  plugins/action/onepassword_secret_item.py
  plugins/action/onepassword_ssh_key_item.py
  plugins/action/onepassword_ssh_secret_stdin.py
  plugins/action/onepassword_vault_co_manager.py
  plugins/modules/onepassword_secret_item.py
  plugins/modules/onepassword_ssh_key_item.py
  plugins/modules/onepassword_ssh_secret_stdin.py
  plugins/modules/onepassword_vault_co_manager.py
  tests/unit/plugins/action/test_onepassword_secret_item.py
  tests/unit/plugins/action/test_onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_ssh_secret_stdin.py
  tests/unit/plugins/action/test_onepassword_vault_co_manager.py
Due: yamllint-ee, ansible-lint-ee

feat(onepassword): sign short-lived operation approvals
  changelogs/fragments/onepassword-approval.yml
  plugins/action/onepassword_approval.py
  plugins/modules/onepassword_approval.py
  tests/unit/plugins/action/test_onepassword_approval.py
Due: yamllint-ee, ansible-lint-ee

fix(onepassword): sign approvals through pinned agent
  changelogs/fragments/onepassword-approval.yml
  plugins/action/onepassword_approval.py
  plugins/modules/onepassword_approval.py
  tests/unit/plugins/action/test_onepassword_approval.py
Due: yamllint-ee, ansible-lint-ee

feat(onepassword): import existing SSH keys safely
  changelogs/fragments/onepassword-ssh-key-import.yml
  plugins/action/onepassword_ssh_key_import.py
  plugins/action/onepassword_ssh_key_item.py
  plugins/modules/onepassword_ssh_key_import.py
  tests/unit/plugins/action/test_onepassword_ssh_key_import.py
Due: yamllint-ee, ansible-lint-ee

fix(onepassword): recover exact SSH import metadata
  plugins/action/onepassword_ssh_key_import.py
  plugins/action/onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_ssh_key_import.py
Due: none

fix(onepassword): provide TTY for metadata edits
  plugins/action/onepassword_ssh_key_import.py
  plugins/action/onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_ssh_key_import.py
Due: none

fix(onepassword): verify native SSH key imports
  changelogs/fragments/onepassword-ssh-key-import.yml
  plugins/action/onepassword_ssh_key_import.py
  plugins/action/onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_ssh_key_import.py
  tests/unit/plugins/action/test_onepassword_ssh_key_item.py
Due: yamllint-ee, ansible-lint-ee

docs(changelog): record hetzner.hcloud update
  changelogs/fragments/hetzner-hcloud-6.11.0.yml
Due: yamllint-ee, ansible-lint-ee

feat(terragrunt): support guarded Vault PKI migrations
  changelogs/fragments/terragrunt-vault-private-ca.yml
  roles/terragrunt/defaults/main.yml
  roles/terragrunt/tasks/main.yml
  tests/unit/roles/test_terragrunt_private_ca.py
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix(terragrunt): protect migration result handling
  roles/terragrunt/tasks/main.yml
  tests/unit/roles/test_terragrunt_private_ca.py
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix(onepassword): preserve controller fallback errors
  changelogs/fragments/onepassword-controller-fallback-schema.yml
  plugins/modules/onepassword_approval.py
  plugins/modules/onepassword_ssh_key_import.py
  tests/unit/plugins/modules/test_onepassword_controller_stubs.py
Due: yamllint-ee, ansible-lint-ee

chore(rep60): bootstrap protected main review controller
  .github/codex/prompts/review-exact-head.md
  .github/codex/schemas/exact-head-review.schema.json
  .github/workflows/release-bot-exact-head-review.yml
  scripts/materialize-exact-revision-review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): bootstrap current main review trust root
  .github/codex/prompts/review-exact-head.md
  .github/codex/schemas/exact-head-review.schema.json
  .github/workflows/current-revision-rerun.yml
  .github/workflows/release-bot-exact-head-review.yml
  scripts/materialize-exact-revision-review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): bootstrap protected main review trust root
  .github/codex/prompts/review-exact-head.md
  .github/codex/schemas/exact-head-review.schema.json
  .github/workflows/current-revision-rerun.yml
  .github/workflows/release-bot-exact-head-review.yml
  scripts/materialize-exact-revision-review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rep60): bootstrap protected main review trust root
  .github/codex/prompts/review-exact-head.md
  .github/codex/schemas/exact-head-review.schema.json
  .github/workflows/copilot-review.yml
  .github/workflows/current-revision-rerun.yml
  .github/workflows/release-bot-exact-head-review.yml
  scripts/materialize-exact-revision-review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(rep60): bootstrap protected main trust root
  .github/codex/prompts/review-exact-head.md
  .github/codex/schemas/exact-head-review.schema.json
  .github/workflows/copilot-review.yml
  .github/workflows/current-revision-rerun.yml
  .github/workflows/release-bot-exact-head-review.yml
  scripts/materialize-exact-revision-review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(rescue): preserve exact LUKS secret bytes
  changelogs/fragments/hetzner-rescue-exact-luks-stdin.yml
  roles/hetzner_rescue_validate/tasks/luks_passphrase.yml
  tests/unit/roles/test_hetzner_rescue_validate.py
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix(ci): bootstrap protected exact-revision controller on main
  .github/codex/prompts/review-exact-head.md
  .github/codex/schemas/exact-head-review.schema.json
  .github/workflows/copilot-review.yml
  .github/workflows/current-revision-rerun.yml
  .github/workflows/release-bot-exact-head-review.yml
  scripts/materialize-exact-revision-review.py
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix(changelog): classify ancestry evidence as metadata
  scripts/devtools-changelog-check.sh
Due: none

fix(changelog): anchor ancestry evidence exemption
  scripts/devtools-changelog-check.sh
Due: none

chore(ci): catch up protected devtools harness
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  .lit/quality-policy.schema.json
  .lit/quality-policy.yml
  .lit/repository.yml
  .pre-commit-config.yaml
  changelogs/fragments/shared-assets-sync.yml
  molecule/controller-parity-basic/converge.yml
  molecule/controller-parity-basic/molecule.yml
  molecule/controller-parity-basic/verify.yml
  scripts/devtools-changelog-check.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-galaxy.sh
  scripts/devtools-molecule.sh
  scripts/dispatch-transition-validation.py
  scripts/generate-release-evidence.py
  scripts/lit-ci-profile.sh
  scripts/validate-quality-policy.py
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat(onepassword): promote approval and item primitives
  changelogs/fragments/onepassword-approval.yml
  changelogs/fragments/onepassword-secret-item.yml
  plugins/action/_onepassword_boundary.py
  plugins/action/onepassword_approval.py
  plugins/action/onepassword_secret_item.py
  plugins/action/onepassword_ssh_key_item.py
  plugins/modules/onepassword_approval.py
  plugins/modules/onepassword_secret_item.py
  plugins/modules/onepassword_ssh_key_item.py
  tests/unit/plugins/action/onepassword_approval_support.py
  tests/unit/plugins/action/test_onepassword_approval.py
  tests/unit/plugins/action/test_onepassword_boundary.py
  tests/unit/plugins/action/test_onepassword_secret_item.py
  tests/unit/plugins/action/test_onepassword_ssh_key_item.py
Due: yamllint-ee, ansible-lint-ee

fix(onepassword): close review boundary gaps
  changelogs/fragments/onepassword-secret-item.yml
  plugins/action/_onepassword_boundary.py
  plugins/action/onepassword_approval.py
  plugins/action/onepassword_secret_item.py
  plugins/action/onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_boundary.py
  tests/unit/plugins/action/test_onepassword_secret_item.py
  tests/unit/plugins/action/test_onepassword_ssh_key_item.py
Due: yamllint-ee, ansible-lint-ee

fix(onepassword): harden check mode and child environment
  plugins/action/_onepassword_boundary.py
  plugins/action/onepassword_approval.py
  plugins/action/onepassword_secret_item.py
  plugins/action/onepassword_ssh_key_item.py
  plugins/modules/onepassword_approval.py
  tests/unit/plugins/action/test_onepassword_approval.py
  tests/unit/plugins/action/test_onepassword_secret_item.py
  tests/unit/plugins/action/test_onepassword_ssh_key_item.py
Due: none

fix(onepassword): close final review gaps
  plugins/action/_onepassword_boundary.py
  plugins/action/onepassword_approval.py
  plugins/action/onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_approval.py
  tests/unit/plugins/action/test_onepassword_boundary.py
  tests/unit/plugins/action/test_onepassword_ssh_key_item.py
Due: none

fix(onepassword): close runtime review gaps
  plugins/action/onepassword_ssh_key_item.py
  tests/unit/plugins/action/onepassword_approval_support.py
  tests/unit/plugins/action/test_onepassword_approval.py
  tests/unit/plugins/action/test_onepassword_ssh_key_item.py
Due: none

fix(onepassword): bound cli metadata output
  plugins/action/_onepassword_boundary.py
  plugins/action/onepassword_secret_item.py
  plugins/action/onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_boundary.py
Due: none

fix(onepassword): close remaining trust boundaries
  plugins/action/_onepassword_boundary.py
  plugins/action/onepassword_approval.py
  plugins/action/onepassword_secret_item.py
  plugins/action/onepassword_ssh_key_item.py
  plugins/modules/onepassword_secret_item.py
  plugins/modules/onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_boundary.py
  tests/unit/plugins/action/test_onepassword_secret_item.py
  tests/unit/plugins/action/test_onepassword_ssh_key_item.py
Due: none

fix(onepassword): serialize item creation
  plugins/action/_onepassword_boundary.py
  plugins/action/onepassword_secret_item.py
  plugins/action/onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_ssh_key_item.py
Due: none

fix(onepassword): pin creation lock directory
  plugins/action/_onepassword_boundary.py
  plugins/action/onepassword_ssh_key_item.py
  tests/unit/plugins/action/test_onepassword_boundary.py
Due: none

fix(onepassword): fail closed on lock open
  plugins/action/_onepassword_boundary.py
Due: none

fix(onepassword): reject privileged executable modes
  plugins/action/_onepassword_boundary.py
  tests/unit/plugins/action/test_onepassword_boundary.py
Due: none

feat(onepassword): stream SSH secret to exact stdin
  changelogs/fragments/hetzner-rescue-exact-luks-stdin.yml
  changelogs/fragments/li139-onepassword-unlock.yml
  plugins/action/onepassword_ssh_secret_stdin.py
  plugins/modules/onepassword_ssh_secret_stdin.py
  roles/hetzner_rescue_validate/tasks/luks_passphrase.yml
  tests/unit/plugins/action/test_onepassword_ssh_secret_stdin.py
  tests/unit/roles/test_hetzner_rescue_validate.py
Due: yamllint-ee, ansible-lint-ee, collection-smoke
