Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: bash -lc 'docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator'

collection-smoke:
  name: collection smoke test (example.yml via devtools)
  language: system
  entry: bash scripts/devtools-collection-smoke.sh
  pass_filenames: false

feat: enhance folder deletion logic to handle existing VMs and provide informative messages
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/tasks/manage_folder.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: enhance folder deletion logic to handle existing VMs and provide informative messages (#67)
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/tasks/manage_folder.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  6f7b1c91ef8a5fae65420d771b7aa6588374a98a
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

feat: add regex managers for Ansible Galaxy collection dependencies in galaxy.yml
  renovate.json
Due: renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets (#68)
  .pre-commit-config.yaml
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

feat: add regex managers for Ansible Galaxy collection dependencies in galaxy.yml (#69)
  renovate.json
Due: renovate-config-validate

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  34c0af2e7809e6721b7f8c1b7d182f9cdb05521b
Due: none

chore: sync shared assets from lightning-it/shared-assets
  AGENT.md
Due: none

chore: sync shared assets from lightning-it/shared-assets (#72)
  AGENT.md
Due: none

chore: sync shared assets from lightning-it/shared-assets
  ansible.cfg
  scripts/devtools-ansible-lint.sh
  scripts/wunder-devtools-ee.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets (#73)
  ansible.cfg
  scripts/devtools-ansible-lint.sh
  scripts/wunder-devtools-ee.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .gitignore
  AGENT.md
  renovate.base.json
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/sync-certified-from-ah.sh
  scripts/validate-certified-on-ah.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(deps): update collection dependencies and refine version constraints
  AGENT.md
  collections/requirements.yml
  galaxy.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate, collection-smoke

chore: sync shared assets from lightning-it/shared-assets (#76)
  .github/workflows/collection-ci.yml
  .gitignore
  AGENT.md
  renovate.base.json
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/sync-certified-from-ah.sh
  scripts/validate-certified-on-ah.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(deps): update collection dependencies and refine version constraints (#78)
  AGENT.md
  collections/requirements.yml
  galaxy.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate, collection-smoke

chore(deps): add community.docker dependency to requirements and galaxy files
  collections/requirements.yml
  galaxy.yml
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: standardize ANSIBLE_COLLECTIONS_PATH variable usage across scripts and configuration
  README.md
  molecule/config.yml
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee

fix: update docker run command to unset ANSIBLE_COLLECTIONS_PATHS environment variable
  scripts/wunder-devtools-ee.sh
Due: none

fix: add community.docker dependency to requirements and gala… (#80)
  README.md
  collections/requirements.yml
  galaxy.yml
  molecule/config.yml
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.15.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  0500ae5bd666545752539f32b109a128f214e796
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .gitignore
  renovate.base.json
  scripts/devtools-molecule.sh
  scripts/sync-certified-from-ah.sh
  scripts/validate-certified-on-ah.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: sync shared assets from lightning-it/shared-assets (#81)
  .github/workflows/collection-ci.yml
  .gitignore
  renovate.base.json
  scripts/devtools-molecule.sh
  scripts/sync-certified-from-ah.sh
  scripts/validate-certified-on-ah.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(release): 1.15.2 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  4f80f852812c359e04ba11692d02f67dd6a4aa64
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: update community.general version constraints for compatibility
  README.md
  collections/requirements.yml
  renovate.base.json
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets (#83)
  .github/workflows/collection-ci.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: update community.general version constraints for compatibility (#84)
  README.md
  collections/requirements.yml
  renovate.base.json
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate

chore(release): 1.15.3 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  3083ed36f623005125e40fecdd2c6662a4ef85a9
Due: none

chore: sync shared assets from lightning-it/shared-assets
  AGENT.md
  CONTRIBUTING.md
  scripts/wunder-devtools-ee.sh
Due: none

docs: update AGENT.md with shared-assets management guidelines and exceptions
  AGENT.md
  renovate.json
Due: renovate-config-validate

docs: update AGENT.md with shared-assets management guidelines and exceptions (#86)
  AGENT.md
  renovate.json
Due: renovate-config-validate

fix: sync shared assets from lightning-it/shared-assets (#85)
  CONTRIBUTING.md
  scripts/wunder-devtools-ee.sh
Due: none

chore(release): 1.15.4 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  f03d1fe91f27ef50cf0b56bb5a6ec3ced415ba8d
Due: none

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
  collection-smoke: any of: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)
