Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: bash -lc 'docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator'

collection-smoke:
  name: collection smoke test (example.yml via devtools)
  language: system
  entry: bash scripts/devtools-collection-smoke.sh
  pass_filenames: false

fix: standardize variable names and improve YAML structure in Terragrunt role
  .pre-commit-config.yaml
  galaxy.yml
  roles/terragrunt/.forgejo/workflows/lint-release.yaml
  roles/terragrunt/README.md
  roles/terragrunt/defaults/main.yml
  roles/terragrunt/meta/main.yml
  roles/terragrunt/tasks/assert.yml
  roles/terragrunt/tasks/main.yml
  roles/terragrunt/templates/terragrunt.hcl.j2
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: standardize variable names and improve YAML structure in Terragrunt role (#19)
  .pre-commit-config.yaml
  galaxy.yml
  roles/terragrunt/.forgejo/workflows/lint-release.yaml
  roles/terragrunt/README.md
  roles/terragrunt/defaults/main.yml
  roles/terragrunt/meta/main.yml
  roles/terragrunt/tasks/assert.yml
  roles/terragrunt/tasks/main.yml
  roles/terragrunt/templates/terragrunt.hcl.j2
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets (#20)
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#21)
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#22)
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#23)
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

Notes added by 'git notes add'
  c452980f52abc5d00c51a0d926d844f91979e22c
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: remove GitHub Actions release workflow
  .github/workflows/release.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: update galaxy.yml to reflect supplementary collection details and adjust pre-commit config formatting
  .pre-commit-config.yaml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: update galaxy.yml to rename collection and enhance description
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: refactor collection to replace tf_runner with terragrunt and update related documentation
  AGENT.md
  CONTRIBUTING.md
  README.md
  molecule/terragrunt_basic/converge.yml
  molecule/terragrunt_basic/molecule.yml
  molecule/terragrunt_basic/verify.yml
  molecule/tf_runner_basic/converge.yml
  molecule/tf_runner_basic/destroy.yml
  molecule/tf_runner_basic/files/main.tf
  molecule/tf_runner_basic/molecule.yml
  molecule/tf_runner_basic/verify.yml
  molecule/vmware_vsphere_basic/converge.yml
  molecule/vmware_vsphere_basic/molecule.yml
  molecule/vmware_vsphere_basic/verify.yml
  playbooks/example.yml
  playbooks/terragrunt.yml
  playbooks/tf_runner.yml
  roles/terragrunt/tasks/main.yml
  roles/tf_runner/README.md
  roles/tf_runner/defaults/main.yml
  roles/tf_runner/meta/main.yml
  roles/tf_runner/tasks/main.yml
  roles/tf_runner/templates/main.tf.j2
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  cdf783f2ec48294cdb5781393c995f6976a1b674
Due: none

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  AGENT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: simplify renovate configuration by removing unnecessary settings
  renovate.json
Due: renovate-config-validate

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
  .yamllint
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee

chore: update galaxy.yml formatting and enhance renovate configuration
  galaxy.yml
  renovate.json
Due: yamllint-ee, ansible-lint-ee, renovate-config-validate, collection-smoke

chore: sync shared assets from lightning-it/shared-assets
  .pre-commit-config.yaml
  AGENT.md
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

fix: sync shared assets from lightning-it/shared-assets (#43)
  .pre-commit-config.yaml
  AGENT.md
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-molecule.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee

chore(release): 1.3.2 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  8e5652c0d87144f5a6d62f0ac02efadc6b408bcd
Due: none

feat(vmware_vsphere): enhance role with improved variable normalization, validation, and folder management tasks
  .pre-commit-config.yaml
  galaxy.yml
  molecule/terragrunt_basic/collections.yml
  molecule/vmware_vsphere_basic/collections.yml
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/meta/main.yml
  roles/vmware_vsphere/tasks/assert.yml
  roles/vmware_vsphere/tasks/assets.yml
  roles/vmware_vsphere/tasks/create_vm.yml
  roles/vmware_vsphere/tasks/create_vm_folder.yml
  roles/vmware_vsphere/tasks/destroy_vm.yml
  roles/vmware_vsphere/tasks/destroy_vm_folder.yml
  roles/vmware_vsphere/tasks/main.yml
  roles/vmware_vsphere/tasks/manage_folder.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere/tasks/normalize.yml
  roles/vmware_vsphere/tasks/resolve_credentials.yml
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat(vmware_vsphere): update dependencies and enhance folder management tasks with improved variable handling
  galaxy.yml
  roles/vmware_vsphere/tasks/manage_folder.yml
  roles/vmware_vsphere/tasks/normalize.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets
  .ansible-lint
  .gitignore
  .pre-commit-config.yaml
  scripts/devtools-ansible-lint.sh
Due: yamllint-ee, ansible-lint-ee

feat(opnsense): add provisioning and configuration for OPNsense VM with vSphere integration
  playbooks/opnsense.yml
  roles/opnsense_config/defaults/main.yml
  roles/opnsense_config/handlers/main.yml
  roles/opnsense_config/meta/main.yml
  roles/opnsense_config/tasks/main.yml
  roles/opnsense_config/templates/config.xml.j2
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat(vmware_vsphere): add vmware_vsphere_template variable and enhance network variable normalization
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/assert.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere/tasks/normalize.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat(vmware_vsphere): add support for VM templates and enhance network variable normalization
  roles/net_vlan_autogen/README.md
  roles/net_vlan_autogen/defaults/main.yml
  roles/net_vlan_autogen/meta/main.yml
  roles/net_vlan_autogen/tasks/main.yml
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere/tasks/normalize.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

refactor(opnsense): remove deprecated configuration and handlers for OPNsense role refactor(vmware_vsphere): improve error message formatting for orphaned VMs and enhance variable normalization
  playbooks/opnsense.yml
  roles/net_vlan_autogen/README.md
  roles/net_vlan_autogen/defaults/main.yml
  roles/net_vlan_autogen/tasks/main.yml
  roles/opnsense_config/defaults/main.yml
  roles/opnsense_config/handlers/main.yml
  roles/opnsense_config/meta/main.yml
  roles/opnsense_config/tasks/main.yml
  roles/opnsense_config/templates/config.xml.j2
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere/tasks/normalize.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: refactor role vmware vsphere (#45)
  .pre-commit-config.yaml
  galaxy.yml
  molecule/terragrunt_basic/collections.yml
  molecule/vmware_vsphere_basic/collections.yml
  roles/net_vlan_autogen/README.md
  roles/net_vlan_autogen/defaults/main.yml
  roles/net_vlan_autogen/meta/main.yml
  roles/net_vlan_autogen/tasks/main.yml
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/meta/main.yml
  roles/vmware_vsphere/tasks/assert.yml
  roles/vmware_vsphere/tasks/assets.yml
  roles/vmware_vsphere/tasks/create_vm.yml
  roles/vmware_vsphere/tasks/create_vm_folder.yml
  roles/vmware_vsphere/tasks/destroy_vm.yml
  roles/vmware_vsphere/tasks/destroy_vm_folder.yml
  roles/vmware_vsphere/tasks/main.yml
  roles/vmware_vsphere/tasks/manage_folder.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere/tasks/normalize.yml
  roles/vmware_vsphere/tasks/resolve_credentials.yml
  scripts/devtools-molecule.sh
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
  collection-smoke: any of: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)
