Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: bash -lc 'docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator'

collection-smoke:
  name: collection smoke test (example.yml via devtools)
  language: system
  entry: bash scripts/devtools-collection-smoke.sh
  pass_filenames: false

chore(release): 1.3.3 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  29516637ccce8c41f2ae33529882ab13a3dc22be
Due: none

chore: sync shared assets from lightning-it/shared-assets (#44)
  .ansible-lint
  .gitignore
  scripts/devtools-ansible-lint.sh
Due: none

feat: add WAN configuration options for IP, gateway, and DNS when DHCP is disabled
  roles/net_vlan_autogen/README.md
  roles/net_vlan_autogen/defaults/main.yml
  roles/net_vlan_autogen/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add VLAN activation state and improve trunk parent handling
  roles/net_vlan_autogen/README.md
  roles/net_vlan_autogen/defaults/main.yml
  roles/net_vlan_autogen/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: enhance net_vlan_autogen role with profile-free input validation and improved connection handling
  roles/net_vlan_autogen/defaults/main.yml
  roles/net_vlan_autogen/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

style: format galaxy.yml for consistency and readability
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add net_vlan_autogen role with configuration for VLAN interfaces and verification tasks
  molecule/net_vlan_autogen_basic/converge.yml
  molecule/net_vlan_autogen_basic/molecule.yml
  molecule/net_vlan_autogen_basic/verify.yml
  roles/net_vlan_autogen/README.md
  roles/net_vlan_autogen/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: update molecule configuration and verification for net_vlan_autogen role with enhanced interface definitions
  molecule/net_vlan_autogen_basic/molecule.yml
  molecule/net_vlan_autogen_basic/verify.yml
Due: yamllint-ee, ansible-lint-ee

feat: network helper added (#46)
  galaxy.yml
  molecule/net_vlan_autogen_basic/converge.yml
  molecule/net_vlan_autogen_basic/molecule.yml
  molecule/net_vlan_autogen_basic/verify.yml
  roles/net_vlan_autogen/README.md
  roles/net_vlan_autogen/defaults/main.yml
  roles/net_vlan_autogen/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  1c2f38bf1c23dddb5f8a042ed859c690e329f022
Due: none

feat: add Redfish control and inventory roles with playbook examples
  README.md
  playbooks/rhel9_install_iso.yml
  playbooks/rhel9_install_pxe.yml
  roles/oob_redfish_control/README.md
  roles/oob_redfish_control/defaults/main.yml
  roles/oob_redfish_control/meta/argument_specs.yml
  roles/oob_redfish_control/meta/main.yml
  roles/oob_redfish_control/tasks/boot.yml
  roles/oob_redfish_control/tasks/boot_disable.yml
  roles/oob_redfish_control/tasks/main.yml
  roles/oob_redfish_control/tasks/power.yml
  roles/oob_redfish_control/tasks/virtual_media.yml
  roles/oob_redfish_inventory/README.md
  roles/oob_redfish_inventory/defaults/main.yml
  roles/oob_redfish_inventory/meta/argument_specs.yml
  roles/oob_redfish_inventory/meta/main.yml
  roles/oob_redfish_inventory/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: enhance Redfish control and inventory roles with new input normalization and virtual media handling
  roles/oob_redfish_control/README.md
  roles/oob_redfish_control/tasks/main.yml
  roles/oob_redfish_control/tasks/power.yml
  roles/oob_redfish_control/tasks/virtual_media.yml
  roles/oob_redfish_inventory/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add bridge VLAN membership role with comprehensive tasks and documentation
  roles/bridge_vlan_membership/README.md
  roles/bridge_vlan_membership/defaults/main.yml
  roles/bridge_vlan_membership/meta/argument_specs.yml
  roles/bridge_vlan_membership/meta/main.yml
  roles/bridge_vlan_membership/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: ansible role redfish added (#47)
  README.md
  playbooks/rhel9_install_iso.yml
  playbooks/rhel9_install_pxe.yml
  roles/bridge_vlan_membership/README.md
  roles/bridge_vlan_membership/defaults/main.yml
  roles/bridge_vlan_membership/meta/argument_specs.yml
  roles/bridge_vlan_membership/meta/main.yml
  roles/bridge_vlan_membership/tasks/main.yml
  roles/oob_redfish_control/README.md
  roles/oob_redfish_control/defaults/main.yml
  roles/oob_redfish_control/meta/argument_specs.yml
  roles/oob_redfish_control/meta/main.yml
  roles/oob_redfish_control/tasks/boot.yml
  roles/oob_redfish_control/tasks/boot_disable.yml
  roles/oob_redfish_control/tasks/main.yml
  roles/oob_redfish_control/tasks/power.yml
  roles/oob_redfish_control/tasks/virtual_media.yml
  roles/oob_redfish_inventory/README.md
  roles/oob_redfish_inventory/defaults/main.yml
  roles/oob_redfish_inventory/meta/argument_specs.yml
  roles/oob_redfish_inventory/meta/main.yml
  roles/oob_redfish_inventory/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  4288b821f1b56ad6245df3ae671288acd29a68fd
Due: none

feat: add kubeplay role with tasks, verification, and documentation
  molecule/kubeplay_basic/converge.yml
  molecule/kubeplay_basic/molecule.yml
  molecule/kubeplay_basic/verify.yml
  roles/kubeplay/README.md
  roles/kubeplay/defaults/main.yml
  roles/kubeplay/meta/main.yml
  roles/kubeplay/tasks/apps/demo.yml
  roles/kubeplay/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Feat network helper added (#48)
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add kubeplay role with tasks, verification, and documentation (#49)
  molecule/kubeplay_basic/converge.yml
  molecule/kubeplay_basic/molecule.yml
  molecule/kubeplay_basic/verify.yml
  roles/kubeplay/README.md
  roles/kubeplay/defaults/main.yml
  roles/kubeplay/meta/main.yml
  roles/kubeplay/tasks/apps/demo.yml
  roles/kubeplay/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  9c18cf05a116e2efdd49ddee806fbba51d72d9dc
Due: none

feat: add guest customization options for VMware vSphere role
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere/tasks/normalize.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add guest customization options for VMware vSphere role (#50)
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere/tasks/normalize.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  6ccea063a2b94d74dc5efa3ebd9031352cffa9ce
Due: none

feat: add optional firewalld zone and connection state for VLAN autogen role
  roles/net_vlan_autogen/README.md
  roles/net_vlan_autogen/defaults/main.yml
  roles/net_vlan_autogen/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: update documentation and normalize input messages across roles
  galaxy.yml
  roles/bridge_vlan_membership/README.md
  roles/kubeplay/tasks/main.yml
  roles/oob_redfish_control/meta/argument_specs.yml
  roles/oob_redfish_control/tasks/main.yml
  roles/oob_redfish_control/tasks/power.yml
  roles/oob_redfish_control/tasks/virtual_media.yml
  roles/oob_redfish_inventory/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Refactor oob_redfish_control and oob_redfish_inventory roles for improved clarity and consistency
  README.md
  roles/bridge_vlan_membership/README.md
  roles/bridge_vlan_membership/defaults/main.yml
  roles/bridge_vlan_membership/meta/argument_specs.yml
  roles/bridge_vlan_membership/tasks/main.yml
  roles/kubeplay/tasks/main.yml
  roles/kubeplay/tasks/run_app.yml
  roles/oob_redfish_control/README.md
  roles/oob_redfish_control/defaults/main.yml
  roles/oob_redfish_control/meta/argument_specs.yml
  roles/oob_redfish_control/tasks/boot.yml
  roles/oob_redfish_control/tasks/boot_disable.yml
  roles/oob_redfish_control/tasks/main.yml
  roles/oob_redfish_control/tasks/power.yml
  roles/oob_redfish_control/tasks/virtual_media.yml
  roles/oob_redfish_inventory/README.md
  roles/oob_redfish_inventory/defaults/main.yml
  roles/oob_redfish_inventory/meta/argument_specs.yml
  roles/oob_redfish_inventory/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add optional firewalld zone and connection state for VLAN autog… (#52)
  README.md
  galaxy.yml
  roles/bridge_vlan_membership/README.md
  roles/bridge_vlan_membership/defaults/main.yml
  roles/bridge_vlan_membership/meta/argument_specs.yml
  roles/bridge_vlan_membership/tasks/main.yml
  roles/kubeplay/tasks/main.yml
  roles/kubeplay/tasks/run_app.yml
  roles/net_vlan_autogen/README.md
  roles/net_vlan_autogen/defaults/main.yml
  roles/net_vlan_autogen/tasks/main.yml
  roles/oob_redfish_control/README.md
  roles/oob_redfish_control/defaults/main.yml
  roles/oob_redfish_control/meta/argument_specs.yml
  roles/oob_redfish_control/tasks/boot.yml
  roles/oob_redfish_control/tasks/boot_disable.yml
  roles/oob_redfish_control/tasks/main.yml
  roles/oob_redfish_control/tasks/power.yml
  roles/oob_redfish_control/tasks/virtual_media.yml
  roles/oob_redfish_inventory/README.md
  roles/oob_redfish_inventory/defaults/main.yml
  roles/oob_redfish_inventory/meta/argument_specs.yml
  roles/oob_redfish_inventory/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  23fac6d761a13e9ca8562c4c42da5e6ed3c73d31
Due: none

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: correct formatting and indentation in galaxy.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: correct formatting and indentation in galaxy.yml (#53)
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
  collection-smoke: any of: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)
