Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: bash -lc 'docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator'

collection-smoke:
  name: collection smoke test (example.yml via devtools)
  language: system
  entry: bash scripts/devtools-collection-smoke.sh
  pass_filenames: false

Normalize AnsibleUnsafeText in document mapping to ensure exact string representation
  plugins/action/ansible_vault_secret_document.py
  tests/unit/plugins/action/test_ansible_vault_document.py
Due: none

chore(release): prepare v1.27.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/ansible-vault-document.yml
  changelogs/fragments/ansible-vault-secret-document.yml
  changelogs/fragments/compatibility-release-evidence.yml
  changelogs/fragments/enterprise-readme-standard.yml
  changelogs/fragments/hetzner-installimage.yml
  changelogs/fragments/secret-resolver.yml
  changelogs/fragments/shared-assets-lit-governance.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat(ansible_vault_secret_document): normalize AnsibleUnsafeText in document creation
  plugins/action/ansible_vault_secret_document.py
Due: none

chore(release): prepare v1.28.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/ansible-vault-document-limit.yml
  changelogs/fragments/hetzner-cloud.yml
  changelogs/fragments/hetzner-installimage-sanitizer.yml
  changelogs/fragments/hetzner-robot.yml
  changelogs/fragments/secret-resolver-role-prefix.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix(release): dispatch collection publish from main
  .github/workflows/collection-publish.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: add guarded LUKS header escrow role
  README.md
  changelogs/fragments/luks-header-escrow-role.yml
  molecule/hetzner-installimage-basic/files/functions.sh
  molecule/luks-header-escrow-basic/cleanup.yml
  molecule/luks-header-escrow-basic/converge.yml
  molecule/luks-header-escrow-basic/molecule.yml
  molecule/luks-header-escrow-basic/prepare.yml
  molecule/luks-header-escrow-basic/verify.yml
  plugins/action/ansible_vault_document.py
  plugins/action/ansible_vault_secret_document.py
  plugins/modules/ansible_vault_document.py
  roles/luks_header_escrow/README.md
  roles/luks_header_escrow/defaults/main.yml
  roles/luks_header_escrow/meta/argument_specs.yml
  roles/luks_header_escrow/meta/main.yml
  roles/luks_header_escrow/tasks/assert.yml
  roles/luks_header_escrow/tasks/controller_preflight.yml
  roles/luks_header_escrow/tasks/discover.yml
  roles/luks_header_escrow/tasks/escrow.yml
  roles/luks_header_escrow/tasks/main.yml
  roles/luks_header_escrow/tasks/preflight.yml
  roles/luks_header_escrow/tasks/remote_preflight.yml
  roles/luks_header_escrow/vars/main.yml
  tests/sanity/ignore-2.21.txt
  tests/unit/plugins/action/test_ansible_vault_document.py
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): prepare v1.29.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/luks-header-escrow-role.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets-lit
  .gitignore
Due: none

chore(changelog): document ignored local collection installs
  changelogs/fragments/ignore-local-ansible-collections.yml
Due: yamllint-ee, ansible-lint-ee

fix: support community.hashi_vault 7.1.0
  README.md
  changelogs/fragments/hashivault-7-compat.yml
  collections/requirements.yml
  galaxy.yml
  molecule/config.yml
  molecule/secret-resolver-vault-integration_heavy/collections.yml
  molecule/secret-resolver-vault-integration_heavy/prepare.yml
  roles/secret_resolver/README.md
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: normalize missing Vault persistence targets
  changelogs/fragments/hashivault-7-compat.yml
  roles/secret_resolver/tasks/persist_hashicorp_vault.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): prepare v1.30.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/hashivault-7-compat.yml
  changelogs/fragments/ignore-local-ansible-collections.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: allow ansible.posix 2.1 compatibility
  changelogs/fragments/ansible-posix-21-compat.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): prepare v1.31.0
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  changelogs/fragments/ansible-posix-21-compat.yml
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

ci: standardize Copilot review guidance
  AGENTS.md
Due: none

ci: standardize Copilot review guidance
  .github/copilot-instructions.md
Due: none

ci: standardize Copilot review guidance
  .github/workflows/request-copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: enforce current-revision Copilot review
  .github/workflows/request-copilot-review.yml
  AGENTS.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: enforce current-revision Copilot review
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
  AGENTS.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: enforce current-revision Copilot review
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: standardize Copilot review guidance (#258)
  .github/copilot-instructions.md
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: allow review commit verification (#260)
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: require successful Copilot check
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

fix: sync Copilot review gate
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync final Copilot review gate
  .github/workflows/copilot-review.yml
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore(changelog): document VMware folder task entry points
  changelogs/fragments/vmware-vsphere-folder-task-entry-points.yml
Due: yamllint-ee, ansible-lint-ee

feat: raise ansible vault document safety bounds
  changelogs/fragments/ansible-vault-document-bounded-large-escrow.yml
  plugins/action/ansible_vault_document.py
  plugins/modules/ansible_vault_document.py
  tests/unit/plugins/action/test_ansible_vault_document.py
Due: yamllint-ee, ansible-lint-ee

fix: keep vault plaintext within ciphertext envelope
  changelogs/fragments/ansible-vault-document-bounded-large-escrow.yml
  plugins/action/ansible_vault_document.py
  plugins/modules/ansible_vault_document.py
  tests/unit/plugins/action/test_ansible_vault_document.py
Due: yamllint-ee, ansible-lint-ee

fix: fail closed on recursive vSphere folder deletion
  changelogs/fragments/vmware-vsphere-folder-task-entry-points.yml
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/tasks/create_folder.yml
  roles/vmware_vsphere/tasks/delete_folder.yml
  roles/vmware_vsphere/tasks/manage_folder.yml
  tests/unit/roles/test_vmware_vsphere_folder_tasks.py
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets-lit
  .github/workflows/changelog.yml
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish.yml
  .github/workflows/copilot-review.yml
  .github/workflows/openssf-scorecard.yml
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/release-back-sync.yml
  .github/workflows/release-prepare.yml
  .github/workflows/renovate-guarded-automerge.yml
  .github/workflows/shared-assets-guarded-automerge.yml
  .pre-commit-config.yaml
  .yamllint
  AGENTS.md
  CONTRIBUTING.md
  OPENSSF.md
  RELEASE.md
  renovate.json
  scripts/devtools-ansible-lint.sh
  scripts/devtools-changelog-check.sh
  scripts/devtools-collection-prepare.sh
  scripts/devtools-collection-smoke.sh
  scripts/devtools-galaxy-verify.sh
  scripts/devtools-molecule.sh
  scripts/generate-release-evidence.py
  scripts/wunder-container-run.sh
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
  collection-smoke: any of: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)
