Repository lightning-it/ansible-collection-foundational: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint-ee, ansible-lint-ee, github-actions-lint, renovate-config-validate, collection-smoke

yamllint-ee:
  name: yamllint (wunder-devtools-ee)
  language: system
  entry: bash scripts/wunder-devtools-ee.sh yamllint
  pass_filenames: true

ansible-lint-ee:
  name: ansible-lint (wunder-devtools-ee)
  language: system
  entry: bash scripts/devtools-ansible-lint.sh
  pass_filenames: false

github-actions-lint:
  name: actionlint (GitHub Actions) via Docker
  language: system
  entry: "bash -lc 'docker run --rm -v \"$PWD\":/repo\n  -w /repo docker.io/rhysd/actionlint:latest'"
  pass_filenames: false

renovate-config-validate:
  name: renovate-config-validator
  language: system
  pass_filenames: false
  entry: bash -lc 'docker run --rm -v "$PWD":/repo -w /repo renovate/renovate:latest renovate-config-validator'

collection-smoke:
  name: collection smoke test (example.yml via devtools)
  language: system
  entry: bash scripts/devtools-collection-smoke.sh
  pass_filenames: false

chore(release): 1.18.1 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  e864a457c5aa09f50240bc173bf44ab93eaca206
Due: none

chore: sync shared assets from lightning-it/shared-assets
  AGENT.md
  scripts/devtools-molecule.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets (#116)
  AGENT.md
  scripts/devtools-molecule.sh
Due: none

feat: add ansible_remote_tmp role with bootstrap and validation tasks
  galaxy.yml
  roles/ansible_remote_tmp/README.md
  roles/ansible_remote_tmp/defaults/main.yml
  roles/ansible_remote_tmp/meta/main.yml
  roles/ansible_remote_tmp/tasks/assert.yml
  roles/ansible_remote_tmp/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add ansible_remote_tmp role with bootstrap and validation tasks (#119)
  galaxy.yml
  roles/ansible_remote_tmp/README.md
  roles/ansible_remote_tmp/defaults/main.yml
  roles/ansible_remote_tmp/meta/main.yml
  roles/ansible_remote_tmp/tasks/assert.yml
  roles/ansible_remote_tmp/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  bc80cd77879c31cd3d1fe5c563d54e7fbdbe36ea
Due: none

feat: add validation for ansible_remote_tmp users and skip option; enhance vmware_vsphere IP validation
  roles/ansible_remote_tmp/README.md
  roles/ansible_remote_tmp/defaults/main.yml
  roles/ansible_remote_tmp/tasks/assert.yml
  roles/ansible_remote_tmp/tasks/main.yml
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/assert.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets
  scripts/devtools-ansible-lint.sh
  scripts/wunder-devtools-ee.sh
Due: none

chore: sync shared assets from lightning-it/shared-assets (#120)
  scripts/devtools-ansible-lint.sh
  scripts/wunder-devtools-ee.sh
Due: none

feat: add validation for ansible_remote_tmp users and skip option; enhance vmware_vsphere IP validation (#121)
  roles/ansible_remote_tmp/README.md
  roles/ansible_remote_tmp/defaults/main.yml
  roles/ansible_remote_tmp/tasks/assert.yml
  roles/ansible_remote_tmp/tasks/main.yml
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/assert.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  a1d0bfd55d8e0b21f1c130879e951b5e40214c7e
Due: none

chore: sync shared assets from lightning-it/shared-assets
  AGENT.md
  scripts/wunder-devtools-ee.sh
Due: none

feat: implement vmware_vsphere_guest_bootstrap role with configuration and tasks for guest management
  molecule/vmware-vsphere-guest-bootstrap-basic/collections.yml
  molecule/vmware-vsphere-guest-bootstrap-basic/converge.yml
  molecule/vmware-vsphere-guest-bootstrap-basic/molecule.yml
  molecule/vmware-vsphere-guest-bootstrap-basic/requirements.yml
  molecule/vmware-vsphere-guest-bootstrap-basic/verify.yml
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/assert.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere_guest_bootstrap/README.md
  roles/vmware_vsphere_guest_bootstrap/defaults/main.yml
  roles/vmware_vsphere_guest_bootstrap/meta/main.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/assert.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/main.yml
  roles/vmware_vsphere_guest_bootstrap/templates/bootstrap-linux.sh.j2
  roles/vmware_vsphere_guest_bootstrap/vars/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets (#123)
  AGENT.md
  scripts/wunder-devtools-ee.sh
Due: none

feat: implement vmware_vsphere_guest_bootstrap role with configuration and tasks for guest management (#125)
  molecule/vmware-vsphere-guest-bootstrap-basic/collections.yml
  molecule/vmware-vsphere-guest-bootstrap-basic/converge.yml
  molecule/vmware-vsphere-guest-bootstrap-basic/molecule.yml
  molecule/vmware-vsphere-guest-bootstrap-basic/requirements.yml
  molecule/vmware-vsphere-guest-bootstrap-basic/verify.yml
  roles/vmware_vsphere/defaults/main.yml
  roles/vmware_vsphere/tasks/assert.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere_guest_bootstrap/README.md
  roles/vmware_vsphere_guest_bootstrap/defaults/main.yml
  roles/vmware_vsphere_guest_bootstrap/meta/main.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/assert.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/main.yml
  roles/vmware_vsphere_guest_bootstrap/templates/bootstrap-linux.sh.j2
  roles/vmware_vsphere_guest_bootstrap/vars/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
  galaxy.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Notes added by 'git notes add'
  1795a98b731453867351ec6a014d9447fd2c3d99
Due: none

feat: update CI workflows to include develop branch and automate major update approvals
  .github/workflows/collection-ci.yml
  .github/workflows/promote-develop-to-main.yml
  AGENTS.md
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: add guarded Renovate automerge
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/renovate-guarded-automerge.yml
  AGENT.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

ci: add guarded Renovate automerge (#128)
  .github/workflows/promote-develop-to-main.yml
  .github/workflows/renovate-guarded-automerge.yml
  AGENT.md
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: enhance vmware_vsphere_guest_bootstrap role with additional variables and improved script handling
  roles/vmware_vsphere_guest_bootstrap/README.md
  roles/vmware_vsphere_guest_bootstrap/defaults/main.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/assert.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/main.yml
  roles/vmware_vsphere_guest_bootstrap/templates/bootstrap-linux.sh.j2
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: enhance vmware_vsphere_guest_bootstrap role with new sshd drop-in management and variable validation
  roles/vmware_vsphere/tasks/assets.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere_guest_bootstrap/defaults/main.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/assert.yml
  roles/vmware_vsphere_guest_bootstrap/templates/bootstrap-linux.sh.j2
Due: yamllint-ee, ansible-lint-ee, collection-smoke

Update documentation and enhance role coverage
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  .yamllint
  AGENTS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  galaxy.yml
  molecule/ansible-remote-tmp-basic/converge.yml
  molecule/ansible-remote-tmp-basic/molecule.yml
  molecule/ansible-remote-tmp-basic/verify.yml
  molecule/bridge-vlan-membership-basic/converge.yml
  molecule/bridge-vlan-membership-basic/molecule.yml
  molecule/bridge-vlan-membership-basic/verify.yml
  molecule/oob-redfish-control-basic/converge.yml
  molecule/oob-redfish-control-basic/molecule.yml
  molecule/oob-redfish-control-basic/verify.yml
  molecule/oob-redfish-inventory-basic/converge.yml
  molecule/oob-redfish-inventory-basic/molecule.yml
  molecule/oob-redfish-inventory-basic/verify.yml
  molecule/terraform-state-migrate-basic/converge.yml
  molecule/terraform-state-migrate-basic/molecule.yml
  molecule/terraform-state-migrate-basic/verify.yml
  roles/ansible_remote_tmp/README.md
  roles/bridge_vlan_membership/README.md
  roles/kubeplay/README.md
  roles/net_vlan_autogen/README.md
  roles/oob_redfish_control/README.md
  roles/oob_redfish_inventory/README.md
  roles/terraform_state_migrate/README.md
  roles/terragrunt/README.md
  roles/vmware_vsphere/README.md
  scripts/bump_galaxy_version.py
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, collection-smoke

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .yamllint
  AGENT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  renovate.base.json
  scripts/bump_galaxy_version.py
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: enhance vmware_vsphere_guest_bootstrap role with improved folder handling logic
  roles/vmware_vsphere_guest_bootstrap/defaults/main.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

chore: sync shared assets from lightning-it/shared-assets (#129)
  .github/workflows/collection-publish-galaxy.yml
  .yamllint
  AGENT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  renovate.base.json
  scripts/bump_galaxy_version.py
  scripts/wunder-devtools-ee.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: update CI workflows to include develop branch and automate major update approvals (#126)
  .github/workflows/collection-ci.yml
  AGENTS.md
  renovate.base.json
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: role vmware vsphere guest expanded (#131)
  .github/workflows/collection-publish-galaxy.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  galaxy.yml
  molecule/ansible-remote-tmp-basic/converge.yml
  molecule/ansible-remote-tmp-basic/molecule.yml
  molecule/ansible-remote-tmp-basic/verify.yml
  molecule/bridge-vlan-membership-basic/converge.yml
  molecule/bridge-vlan-membership-basic/molecule.yml
  molecule/bridge-vlan-membership-basic/verify.yml
  molecule/oob-redfish-control-basic/converge.yml
  molecule/oob-redfish-control-basic/molecule.yml
  molecule/oob-redfish-control-basic/verify.yml
  molecule/oob-redfish-inventory-basic/converge.yml
  molecule/oob-redfish-inventory-basic/molecule.yml
  molecule/oob-redfish-inventory-basic/verify.yml
  molecule/terraform-state-migrate-basic/converge.yml
  molecule/terraform-state-migrate-basic/molecule.yml
  molecule/terraform-state-migrate-basic/verify.yml
  roles/ansible_remote_tmp/README.md
  roles/bridge_vlan_membership/README.md
  roles/kubeplay/README.md
  roles/net_vlan_autogen/README.md
  roles/oob_redfish_control/README.md
  roles/oob_redfish_inventory/README.md
  roles/terraform_state_migrate/README.md
  roles/terragrunt/README.md
  roles/vmware_vsphere/README.md
  roles/vmware_vsphere/tasks/assets.yml
  roles/vmware_vsphere/tasks/manage_vm.yml
  roles/vmware_vsphere_guest_bootstrap/README.md
  roles/vmware_vsphere_guest_bootstrap/defaults/main.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/assert.yml
  roles/vmware_vsphere_guest_bootstrap/tasks/main.yml
  roles/vmware_vsphere_guest_bootstrap/templates/bootstrap-linux.sh.j2
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint, collection-smoke

chore: sync shared assets from lightning-it/shared-assets
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/promote-develop-to-main.yml
  .pre-commit-config.yaml
  AGENT.md
  renovate.base.json
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

chore: sync shared assets from lightning-it/shared-assets (#134)
  .github/workflows/collection-ci.yml
  .github/workflows/collection-publish-galaxy.yml
  .github/workflows/promote-develop-to-main.yml
  .pre-commit-config.yaml
  AGENT.md
  renovate.base.json
  scripts/devtools-ansible-lint.sh
  scripts/devtools-collection-prepare.sh
Due: yamllint-ee, ansible-lint-ee, github-actions-lint

feat: add vmware_vsphere_packer_build role with tasks, defaults, and README
  roles/vmware_vsphere_packer_build/README.md
  roles/vmware_vsphere_packer_build/defaults/main.yml
  roles/vmware_vsphere_packer_build/meta/main.yml
  roles/vmware_vsphere_packer_build/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: add secret storage guidelines and normalize vSphere network handling in tasks
  AGENTS.md
  roles/vmware_vsphere/tasks/normalize.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

fix: correct placement of no_log requirement for secret material handling
  AGENTS.md
Due: none

feat: enhance Packer network name handling and validation logic
  roles/vmware_vsphere_packer_build/tasks/main.yml
Due: yamllint-ee, ansible-lint-ee, collection-smoke

feat: replace set_fact with copy for Molecule coverage markers in multiple roles
  molecule/ansible-remote-tmp-basic/converge.yml
  molecule/ansible-remote-tmp-basic/verify.yml
  molecule/bridge-vlan-membership-basic/converge.yml
  molecule/bridge-vlan-membership-basic/verify.yml
  molecule/oob-redfish-control-basic/converge.yml
  molecule/oob-redfish-control-basic/verify.yml
  molecule/oob-redfish-inventory-basic/converge.yml
  molecule/oob-redfish-inventory-basic/verify.yml
  molecule/terraform-state-migrate-basic/converge.yml
  molecule/terraform-state-migrate-basic/verify.yml
Due: yamllint-ee, ansible-lint-ee

Path conditions:
  yamllint-ee: any of: \.(yml|yaml)$
  ansible-lint-ee: any of: \.(yml|yaml)$
  github-actions-lint: any of: ^\.github/workflows/.*\.ya?ml$
  renovate-config-validate: any of: ^renovate\.json$
  collection-smoke: any of: ^(playbooks/|roles/|galaxy\.yml|runtime\.yml)
